form
	label(for='username') Username
	input(type="text", name="username", required)
	div(class="username error")
	label(for='password') Password 
	input(type="password", name="password", required)
	div(class="password error")
	button Sign Up