label(for='login') Username
input(type="text", name="login", required)
div(class="login error")
label(for='password') Password 
input(type="password", name="password", required)
div(class="password error")