mixin recipe(image, title, text)
	li.recipe 
		img(src=image)
		h4= title
		p= text

include includes/header
catalog.catalog_container
	.page_title 
		h1 Каталог пиццы
	ul.catalog_content
		each val in recipes
			+recipe(val.image, val.title, val.text)