* {	
	padding: 0;
	margin: 0;	
	font-family: Verdana, Geneva, Tahoma, sans-serif
}

html {
	height: 100%;
	width: 100%;
}

.main_container,
.error_container {
	display: grid;
	width: 100%;
	grid-template-areas: "title title" "logo cat";
	grid-template-columns: 40% 1fr;
	gap: 2em;
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.catalog_container {
	display: flex;	
	flex-flow: column;
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
}

.signup_container {
	max-width: 1470px;	
}

.signup_form {	
	width: 400px;
	margin: 200px auto;
	box-shadow: 5px 10px 10px black;
	padding: 20px;
	text-align: center;
}

.signup_form form{
	padding: 10px 20px;	
	display: flex;	
	flex-flow: column;
	height: 150px;	
	justify-content: space-between;
	align-items: flex-start;
}

.signup_form form > button{
	width: 80px;
}

.signup_form form > input{
	width: 100%;
}

.page_title {  
	grid-area: title; 
	height: 2em;
	margin: 20px;
	margin-top: 40px;
	text-align: center;
	color: rgba(230, 113, 30, 0.973);
	text-shadow: 1px 1px 2px black;
}

.main_logo{  
	grid-area: logo;  
	margin-left: 1em;
}

.main_logo > img{   
	min-width: 200px;
	width: 100%;
	object-fit: fill;
}

.main_content, .catalog_content {
	margin: 0 1em; 
	grid-area: cat;
}

.catalog_content {
	grid-area: piz;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;     
	align-items: stretch;
	align-content: start;  
	gap: 30px;   
}

.catalog_content > li{
	list-style-type: none;
	padding: 15px;
	box-shadow: 3px 7px 15px black;
}

.recipe {
	width: 200px;
}

.recipe > img{
	width: 200px;
}

.header {	
	position: fixed;
  	left: 0;
  	top: 0; 
	width: 100%;
	z-index: 100;
}

.header_container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 5px;
	background-color: rgba(218, 115, 42, 0.973);
	box-shadow: 0 2px 10px black;
}

.header_container a,
.header_form a {
	margin: 0 10px;
	color: white;
}